##core libraries
numpy
pandas
scipy

##Face Recognition
face-recognition
face-recognition_models
dlib
opencv-python

##FastAPI backend
fastapi
uvicorn
startlette

##MongoDB
motor
pymongo
pydantic

##others
python-multipart
h5py 
twilio 
python-dotenv
requests

